.catalog-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
}

.itemImage {
    height: 300px;
}

.item-frame {
    padding: 20px;
    margin: 20px;
    width: 300px;
}